body {
    font-family: Arial;
    background: #1e1e2f;
    color: white;
    text-align: center;
}

.card {
    background: #2e2e3f;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}
